<routes xmlns="http://camel.apache.org/schema/spring" >
  
  <!-- 
  <route id="bot4produces">
    <from uri="jason:mqttAgent"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="mqtt:sensor?host=tcp://broker.mqttdashboard.com:1883&amp;publishTopicName=cameltest"/>
  </route>

  <route id="bot4consumes">
    <from uri="mqtt:client?subscribeTopicNames=cameltest&amp;host=tcp://broker.mqttdashboard.com:1883"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="jason:bot4?performative=achieve&amp;source=mqttAgent&amp;msgId=1"/>
  </route>


    <to uri="jason:bot4?performative=achieve&amp;source=telegram&amp;msgId=1"/>

   -->

  <route id="myPAproduces">
    <from uri="jason:toTelegram"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="telegram:bots/761052952:A-TELEGRAM-BOT-TOKEN?chatId=-274694619"/>
  </route>

  <route id="myPAconsumes">
    <from uri="telegram:bots/761052952:A-TELEGRAM-BOT-TOKEN?chatId=-274694619"/>
    <convertBodyTo type="java.lang.String"/>
    <to uri="jason:myPA?performative=achieve"/>
  </route>
  
</routes>
